/node_modules/
.history
/logs/
/public/
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
/config.env
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/boot/custom.js
ipuraskar.js
config.env